

body {


}

h1 {

  font-size: 4rem;
  font-family: 'Suranna', serif;
}

h2 {

  font-family: 'Suranna', serif;
  font-size: 3rem;
}

p,a {

  font-family: 'Poppins', sans-serif;
}



hr {
	padding: 0;
}


/* containers*/

.cont {

  padding: 7% 15%;
	
}

/*Navigation Bar*/


.title-nav {

	text-align: center;
	padding: 0 25px;
}

.nav-link {
	font-size: 1.2rem;
}

.logo {

  margin: 0 35% 0 20%
}

/*Title*/


#title .cont {

  padding: 15% 7% 7% 7%;
	
}


.title-image {

  	width: 90%;
  	
  
   }

 .name-tag {

  padding-top: 10%;

 }


/* About me*/

#about-me .cont {

    margin: 0 auto;
    padding-top: 200px;
 }

 /*Education*/
 

 .baruch-img {

 	height: 55px;
 	margin-left: 5%;

 }

 .fit-img {

 	height: 85px;
 	margin-left: 14%;
 }


/* Work Expirience*/

.coach-img {

	height: 75px;
	margin-left: 30%

}

.kate-img {

	height: 60px;
	margin-left: 38%;
	
}

/* Certifications*/

#certifications .cont {

    margin: 7% auto;
 }




  /*Contact and Alumni*/

  #contact-alumni h2 {

  	margin: 4% auto 0;
  	color: #343a40;
  }

  #contact-alumni img {

  	margin: auto 7% 0 0;

  }

  #contact-alumni i {

 	margin: auto 5% 0 0;
  	
  }

  .fit-alum {

  	height: 80px;
  }

  .kis-alum {

  	height: 80px;
  }

   /*medium screen size*/

   @media (max-width: 1368px) { 

  .cont {

    width: 100%;

  }


  /*end of media port*/
   }

 /* small screen */

 @media (max-width: 1010px) { 

    .logo {

    margin-left: 0;
  }

  .title-image {

    width: 80%;
    padding-top: 10%;

  }

  #title .cont {

    text-align: center;
  }

  .display-img {

    display: none;
  }

 /*end of media port*/
 }


@media (max-width: 582px) {

   h1,h2 {

    font-size: 3rem;
  }

}




